@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic&display=swap');

@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", ui-serif, system-ui, serif;
  --font-sans: "Special Gothic", ui-sans, system-ui, sans;
}

html {
  font-size: 18px;
}

body {
  @apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold my-4;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-lg;
}

p {
  @apply mb-2;
}
